# Ignore
/*
/components/*
/scripts/*

# Allow
!/logs/
!/manifest.webapp
!/opensearch.php
!/searchsuggestions.php
!/.travis.yml
!/composer.json
!/composer.lock
!/autoloader.php
!/unit.php
!/webhook.php
!/index.php
!/ajax.php
!/functions.php
!/files.php
!/custom.php
!/CSP_Errors.php
!/default.sql
!/.htaccess
!/**.htaccess
!/.gitignore
!/.gitattributes
!/.gitmodules
!/LICENSE.txt
!/robots.txt
!/README.md
!/code_standards.md
!/favicon.*
!/super-user.*
!/manifest.appcache
!/stylesheets/*
!/components/
!/std-php-functions/
!/classes/
!/scripts/
!/images/
!/config/
!/fonts/
!/stylesheets/
!/scripts/std-js
!/scripts/functions.js
!/scripts/custom.js
!/scripts/polyfills.js
!/scripts/analytics.js
!/scripts/combined.js
!/scripts/polyfills/
!/scripts/polyfills/*
!/scripts/workers/
!/scripts/workers/*
!/images/**
!/fonts/**
!/config/*
!/gpg/
!/stylesheets/default/
!/stylesheets/green/
!/components/default/
!/components/green/
!/stylesheets/default/**
!/stylesheets/green/**
!/components/default/**
!/components/green/**

# Always Ignore
/config/github.json
**connect.ini
**connect.json
/images/contact/
**.bak
**.save
**~
**.log
**.orig

images/Thumbs.db
