# Ignore
/*
/stylesheets/*
/components/*
/scripts/*

# Allow
!/index.php
!/ajax.php
!/functions.php
!/files.php
!/custom.php
!/CSP_Errors.php
!/default.sql
!/.htaccess
!/**.htaccess
!/.gitignore
!/LICENSE.txt
!/robots.txt
!/README.md
!/favicon.*
!/super-user.*
!/manifest.appcache
!/classes/**
!/classes/*
!/classes/magic_methods.php
!/classes/
!/stylesheets/
!/components/
!/scripts/
!/images/
!/config/
!/fonts/
!/scripts/functions.js
!/scripts/custom.js
!/scripts/polyfills.js
!/scripts/analytics.js
!/scripts/combined.js
!/scripts/polyfills/
!/scripts/polyfills/*
!/scripts/workers/
!/scripts/workers/*
!/images/**
!/fonts/**
!/config/*
!/gpg/
!/stylesheets/default/
!/stylesheets/green/
!/components/default/
!/components/green/
!/stylesheets/default/**
!/stylesheets/green/**
!/components/default/**
!/components/green/**

# Always Ignore
**connect.ini
**connect.json
/images/contact/
**.bak
**.save
**~
**.log
**.orig