[submodule "classes/core"]
	path = classes/core
	url = git@github.com:shgysk8zer0/core.git
[submodule "classes/Ratchet"]
	path = classes/Ratchet
	url = git@github.com:shgysk8zer0/Ratchet.git
[submodule "classes/markdown"]
	path = classes/markdown
	url = git@github.com:shgysk8zer0/php-markdown.git
[submodule "classes/phpqr"]
	path = classes/phpqr
	url = git@github.com:shgysk8zer0/phpqr.git
[submodule "classes/shgysk8zer0/core"]
	path = classes/shgysk8zer0/core
	url = git@github.com:shgysk8zer0/core.git
