<FilesMatch "\.(class)\.php$">
	deny from all
</FilesMatch>
<IfModule mod_include.c>
	 <FilesMatch "\.?(combined|polyfills)\.js$">
		Options +Includes
		AddOutputFilterByType INCLUDES application/javascript application/json
		SetOutputFilter INCLUDES
	</FilesMatch>
 </IfModule>
<IfModule mod_rewrite.c>
	# Redirect all none-existing to index.php
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . index.php [L]
</IfModule>
ErrorDocument 404 /index.php
ErrorDocument 403 /index.php
ErrorDocument 500 /index.php
