<IfModule mod_includeinclude_module>
	 <FilesMatch "\.?(combined|polyfills)\.js$">
		Options +Includes
		AddOutputFilterByType INCLUDES application/javascript application/json
		SetOutputFilter INCLUDES
	</FilesMatch>
 </IfModule>
<IfModule rewrite_module>
	# Redirect all non-existing to index.php
	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . index.php [L]
</IfModule>
ErrorDocument 404 /index.php
ErrorDocument 403 /index.php
ErrorDocument 500 /index.php
