<IfModule mod_rewrite.c>
	RewriteEngine On
#	RewriteBase /var/www/html/html5/blog/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . index.php [L]
</IfModule>
<FilesMatch "\.(class)\.php$">
	deny from all
</FilesMatch>
ErrorDocument 404 /blog/index.php
ErrorDocument 403 /blog/index.php
ErrorDocument 500 /blog/index.php
