@charset 'UTF-8';
@supports (width:1.3vw) and (not (color:var(a))){
	@media screen and (min-width:1000px){
		:root{
			font-size:1.3vw;
		}
	}
	@media screen and (max-width:999px) and (min-width:500px){
		:root{
			font-size:2vw;
		}
	}
	@media screen and (max-width:499px){
		:root{
			font-size:2vw;
		}
	}
}
@supports (var-rem:1vw and font-size:var(rem)){
	@media screen and (min-width:1000px){
		:root{
			var-rem:1.3vw;
		}
	}
	@media screen and (max-width:999px) and (min-width:500px){
		:root{
			var-rem:2vw;
		}
	}
	@media screen and (max-width:499px){
		:root{
			var-rem:4vw;
		}
	}
	:root{
		font-size:var(rem);
	}

}
:root {
	var-glass:linear-gradient(to top left,rgba(80,80,80,0.7), rgba(140,140,140,0.9),rgba(40, 40, 40, 0.7));
	var-shadow:0.15em 0.15em 0.15em rgba(20,20,20,0.9);
	var-grad: linear-gradient(to bottom right, rgb(100,100,100), rgb(40,40,40));
	background-image:url(../images/backgrounds/dark-bg.svgz);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	color: whitesmoke;
	text-shadow:var(shadow);
	cursor: url(../images/cursors/Arch.svgz), auto;
}
:root.offline {
	pointer-events: none;
}
::-moz-selection{
	background-color:rgb(0,250,250);
	background-color:rgba(0,250,250,0.7);
	text-shadow:none;
}
::selection{
	background-color:rgb(0,250,250);
	background-color:rgba(0,250,250,0.7);
	background-color: cyan;
	text-shadow:none;
}
:root.loading {
	cursor: progress;
}
body> header {
	background-image: linear-gradient(rgba(40,40,40,0.8), rgba(80,80,80,0.7));
	border-bottom: 0.2rem solid dimgray;
	box-shadow: 0 0 3rem black inset;
}
body > header h1 {
	font-family: 'PressStart';
	text-align: center;
	text-shadow: 0.1rem 0.1rem black, 0.2rem .02rem 0.3rem gray, 0 0 3rem darkblue;
	margin-bottom: 1rem;
}
body header > h1 > a {
	padding-right: 0.75rem;
	border-width: 0 0.5rem 0 0;
	border-style: solid;
	border-color: transparent;
	-webkit-animation: cursor 750ms infinite linear alternate;
	animation: cursor 750ms infinite linear alternate;
}
body > header nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
body > header nav a {
	flex: 1 1 auto;
	color: whitesmoke;
	text-shadow: 0.15rem 0.15rem 0 dimgray, 0.15rem 0.15rem 0.3rem black;
	font-size: 1.1rem;
	font-family: 'Acme';
	font-weight: 600;
	text-align: center;
	overflow: elipsis;
	padding: 0.7rem 0;
	background-image: linear-gradient(cyan, rgb(59, 117, 218), cyan);
	border: 0.2rem outset black;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
body > header nav a:hover {
	text-shadow: 0 0 0.1rem black, 0 0 0.5rem blue;
	-webkit-transform: translateY(-0.3rem);
	transform: translateY(-0.3rem);
	box-shadow: 0 0 1rem black;

}
body > header nav a:first-of-type {
	border-radius: 1rem 0 0 1rem;
}
body > header nav a:last-of-type {
	border-radius: 0 1rem 1rem 0;
}
body > header nav a:not(:last-of-type) {
	border-right: 0.2rem outset dimgray;
}
body > header nav form {
	flex: 0 1 100%;
}
a, [download] {
	font-family: inherit;
	color: inherit;
}
a::after {
	font-family: 'Web Symbols';
}
main a::after {
	content: '  K';
}
a[rel=tag]::after {
	content: '  ,';
}
a[target="_blank"]::after {
	content:'  D';
}
[download]::after {
	content:'  A';
}
button[type=button], [type=submit], [type=reset] {
	border: 0.2rem outset cyan;
	min-width: 2rem;
	padding: 0.2rem;
	background-image: linear-gradient(cyan, rgb(59, 117, 218));
	font-family: inherit;
}
menu[type=list] li {
	display: inline;
}
img {
	max-width: 100%;
	height: auto;
}
select, input:not([type=checkbox]):not([type=submit]):not([type=reset]):not([type=file]) {
	background-color: transparent;
	color: inherit;
	border-color: transparent transparent lightgray transparent;
	border-width: 0 0 0.15rem 0;
	border-style: solid;
}
label[data-icon]:empty {
	display: inline-block;
	width: 2rem;
	text-align: center;
	color: dimgray;
	border-color: transparent transparent lightgray transparent;
	border-width: 0 0 0.15rem 0;
	border-style: solid;
	transform: translateY(-1px);
}
label[data-icon]:empty + input {
	display: inline-block;
	padding-left: 1rem;
	margin-left: -0.4em;
}
input[type=checkbox] {
	display: none;
}
label+input[type=checkbox] {
	display: initial;
}
input[type=checkbox]+label::after {
	font-family: 'Web Symbols';
	content: '  \\';
	color: red;
}
input[type=checkbox]:checked+label::after {
	content: '  .';
	color: green;
}
input[type=search] {
	width: 7rem;
	max-width: 80%;
	-webkit-transition: all 500ms;
	transition: all 500ms;
}
input[type=search]:focus {
	width: 20rem;
}
body > header h1::before {
	content: '';
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	background-image: url('/favicon.svgz');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}
main {
	width: 90vw;
	transform: translateX(5vw);
	margin-top: 2rem;
	padding: 2rem;
	background-image:linear-gradient(315deg,rgba(80,80,80,0.7),rgba(140,140,140,0.8),rgba(40,40,40,0.7));
	border-radius:2rem;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: flex-start;
	-webkit-transform-origin: top;
	-webkit-transform-style: preserve-3d;
	transform-origin: top;
}
main > article, main > form, main > .tags{
	color:#333;
	background-color: whitesmoke;
	border-radius: inherit;
	padding: inherit;
	border: 0.3rem outset black;
	word-wrap: break-word;
	flex: 0 1 67%;
	order:2;
}
article header, aside h3 {
	font-family: 'Acme';
	font-size: 1.3rem;
	text-shadow: 0.1rem 0.1rem 0 dimgray, 0.15rem 0.15rem 0 black;
	padding: 0.4rem;
	background-image: linear-gradient(rgba(40,40,40, 1), rgba(80,80,80,0.97));
	box-shadow: 0 0 1rem black;
	color: whitesmoke;
	position: sticky;
	top: 0;
	left: 0;
}
article header h1 {
	font-family: 'PressStart';
	font-size: 1.8rem;
}
article section {
	font-family: 'Alice';
	max-width: 100%;
	font-size: 1.1rem;
	color: #222;
}
article > :not(footer) img {
	border: 0.2rem outset cyan;
	box-shadow: 0.3rem 0.3rem 0.5rem black;
	margin: 1.5rem;
	-webkit-transition: all 500ms;
	transition: all 500ms;
}
main aside{
	flex: 0 1 30%;
	order:1;
}
aside h3 {
	padding: 0.2rem;
	border-bottom: 0.2rem solid cyan;
	border-radius:1rem 1rem 0 0;
}
aside > :not(h3) {
	color: #333;
	background-image: linear-gradient(whitesmoke ,#ddd);
	border: 0.2rem outset black;
	border-radius: 1rem 1rem 0 0;
	margin: 2rem 0.2rem;
	box-shadow:-1rem 1rem 1rem black,0 0 1rem 0 black inset;
}
@media screen and (max-width:999px) {
	header nav {
		display: none;
	}
	main {
		flex-direction: column;
		padding: 1rem;
		width: 95vw;
		-webkit-transform: translateX(2.5vw);
		transform: translateX(2.5vw);
	}
	main article {
		flex: 0 1 auto;
		order: 1;
	}
	main aside {
		flex: 0 1 auto;
		order: 2;
	}
}
form[name="new_post"] {
	width: 95%;
}
form[name="new_post"] textarea {
	width: 35rem;
	height: 8rem;
}
input[type=search] {
	width: 7rem;
	-webkit-transition: width 500ms;
	transition: width 500ms;
}
body.hidden *{
	-webkit-animation-play-state:paused;
	animation-play-state:paused;
}
a[rel=license]>img[src$=svgz] {
	width: calc(30rem / 5);
	height: calc(13rem / 5);
}
a.logo {
	display:inline-block;
	width:3rem;
	overflow:visible;
}
a.logo svg {
	overflow: visible;
	transform-origin: center;
	transition:all 1s;
}
a.logo svg:hover {
	transform: scale(2)rotateZ(360deg)
}
body > progress {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
[data-icon]::after  {
	all: unset;
	display: inline;
	font-family: 'Web Symbols';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: inherit;
	font-size-adjust: none;
	font-stretch: none;
	content: ' 'attr(data-icon)' ';
}