@charset 'UTF-8';
@supports (width:1.3vw) and (not (color:var(a))){
	@media screen and (min-width:1000px){
		:root{
			font-size:1.3vw;
		}
	}
	@media screen and (max-width:999px) and (min-width:500px){
		:root{
			font-size:2vw;
		}
	}
	@media screen and (max-width:499px){
		:root{
			font-size:2vw;
		}
	}
}
@supports (var-rem:1vw and font-size:var(rem)){
	@media screen and (min-width:1000px){
		:root{
			var-rem:1.3vw;
		}
	}
	@media screen and (max-width:999px) and (min-width:500px){
		:root{
			var-rem:2vw;
		}
	}
	@media screen and (max-width:499px){
		:root{
			var-rem:4vw;
		}
	}
	:root{
		font-size:var(rem);
	}

}
:root {
	var-glass:linear-gradient(to top left,rgba(80,80,80,0.7), rgba(140,140,140,0.9),rgba(40, 40, 40, 0.7));
	var-shadow:0.15em 0.15em 0.15em rgba(20,20,20,0.9);
	var-grad: linear-gradient(to bottom right, rgb(100,100,100), rgb(40,40,40));
	background-image:url(../images/backgrounds/space.svgz);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	color: whitesmoke;
	text-shadow:var(shadow);
	cursor: url(../images/cursors/Arch.svgz), url(../images/cursors/Arch.png), url(../images/cursors/Arch.cur), auto;
}
:root.offline {
	pointer-events: none;
}
::-moz-selection{
	background-color:rgb(0,250,250);
	background-color:rgba(0,250,250,0.7);
	text-shadow:none;
}
::selection{
	background-color:rgb(0,250,250);
	background-color:rgba(0,250,250,0.7);
	background-color: cyan;
	text-shadow:none;
}
body> header {
	background-image: linear-gradient(rgba(40,40,40,0.8), rgba(80,80,80,0.7));
	border-bottom: 0.2rem solid dimgray;
	box-shadow: 0 0 3rem black inset;
}
a, [download] {
	font-family: inherit;
	color: inherit;
}
a::after {
	font-family: 'Web Symbols';
}
main a::after {
	content: '  K';
}
a[rel=tag]::after {
	content: '  ,';
}
a[target="_blank"]::after {
	content:'  D';
}
[download]::after {
	content:'  A';
}
button[type=button], [type=submit], [type=reset] {
	border: 0.2rem outset cyan;
	min-width: 2rem;
	padding: 0.2rem;
	background-image: linear-gradient(cyan, rgb(59, 117, 218));
	font-family: inherit;
}
menu[type=list] li {
	display: inline;
}
input[type=search] {
	width: 7rem;
	max-width: 80%;
	background: transparent;
	border-width: 0 0 0.1rem 0;
	color: whitesmoke;
	text-shadow: 0.1rem 0.05rem 0.1rem black;
	-webkit-transition: all 500ms;
	transition: all 500ms;
}
input[type=search]:focus {
	width: 20rem;
}
body > header h1::after {
	content: '';
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	background-image: url('/favicon.svgz');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}
main {
	width: 90vw;
	transform: translateX(5vw);
	padding: 2rem;
	background-image:linear-gradient(315deg,rgba(80,80,80,0.7),rgba(140,140,140,0.8),rgba(40,40,40,0.7));
	border-radius:2rem;
	display:flex;
	-webkit-transform-origin: top;
	-webkit-transform-style: preserve-3d;
	transform-origin: top;
}
main > article, main > .tags{
	color:#333;
	background-color: whitesmoke;
	border-radius: inherit;
	padding: inherit;
	border: 0.3rem outset black;
	word-wrap: break-word;
	flex: 1 1 60%;
	order:1;
}
main aside{
	padding: 1.3rem;
	background-image: linear-gradient(whitesmoke ,#ddd);
	color: #333;
	background-size: cover;
	border-radius:1rem;
	border:0.3rem inset black;
	box-shadow:-1rem 1rem 1rem black,0 0 1rem 0 black inset;
	flex: 1 1 20%;
	order:2;
}
aside h3 {
	background-color: cyan;
	padding: 0.3rem;
	border-bottom: 0.2rem solid black;
}
aside .recent {
	border: 0.2rem outset black;
	margin: 0.2rem;
	box-shadow: 0.3rem 0.3rem 0.3rem black;
}
@media screen and (max-width:499px) {
	header nav {
		display: none;
	}
	main {
		width: 95vw;
		transform: translateX(2.5vw);
		padding: 1rem;
		flex-direction: column;
	}
	main article {
		flex: 1 1 100%;
	}
	main aside {
		flex: 1 1 100%;
	}
}
article header {
	font-family: Alice;
	font-size: 1.3rem;
	padding: 0.4rem;
	background-image: linear-gradient(rgba(40,40,40, 0.9), rgba(60,60,60,0.9));
	color: whitesmoke;
	position: sticky;
	top: 0;
	left: 0;
}
form[name="new_post"] {
	width: 95%;
}
form[name="new_post"] textarea {
	width: 35rem;
	height: 8rem;
}
input[type=search] {
	width: 7rem;
	-webkit-transition: width 500ms;
	transition: width 500ms;
}
#contact-card {
	height: 20rem;
	width: 40vw;
	margin: 0 auto;
	perspective: 1000px;
	perspective-origin: top;
}
#contact-card [itemprop=image] {
	border-radius: 50%;
	border: 0.2rem outset black;
	box-shadow: 0.5rem 0.5rem 0.5rem  black;
}
#contact-card>.container {
	height: 100%;
	transition: all 2s;
	position: relative;
	transform-style: preserve-3d;
	box-shadow: var(shadow);
	border-radius: 1rem;
}
#contact-card:hover>.container {
	transform:rotateY(180deg);
}
.face {
	height: 100%;
	width:100%;
	padding: 2rem;
	backface-visibility: hidden;
	background-image: var(grad);
	position: absolute;
	border-radius: inherit;
	box-shadow: 0 0 3rem 0 dimgray inset;
	border: 0.3rem inset black;
}
.face.front {
}
.face.back {
	transform: rotateY(180deg);
}
body.hidden *{
	-webkit-animation-play-state:paused;
	animation-play-state:paused;
}
a[rel=license]>img[src$=svgz] {
	width: calc(30rem / 5);
	height: calc(13rem / 5);
}
a.logo {
	display:inline-block;
	width:3rem;
	overflow:visible;
}
a.logo svg {
	overflow: visible;
	transform-origin: center;
	transition:all 1s;
}
a.logo svg:hover {
	transform: scale(2)rotateZ(360deg)
}
[data-icon]::after  {
	all: unset;
	display: inline;
	font-family: 'Web Symbols';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: inherit;
	font-size-adjust: none;
	font-stretch: none;
	content: ' 'attr(data-icon)' ';
}
