@charset 'UTF-8';
@import '../base-theme/normalize.css';
@import '../base-theme/style.css';
@import '../base-theme/fonts.css';
@import '../base-theme/class_rules.css';
@import '../base-theme/animations.css' screen;
:root {
	--default-color: rgb(252, 252, 252);
	--alt-color: rgb(41, 41, 41);
	--primary-color: rgb(237, 24, 24);
	--highlight-color: rgb(129, 23, 23);
	--link-color: hsl(209, 62%, 45%);
	--border-color: rgb(45, 45, 45);
	--glass-grad: linear-gradient(to top left, rgba(80, 80, 80, 0.7), rgba(140, 140, 140, 0.9), rgba(40, 40, 40, 0.7));
	--shadow: rgba(20, 20, 20, 0.9);
	--tint-glass: linear-gradient(rgba(40, 40, 40, 0.8), rgba(80, 80, 80, 0.7));
	--header-bg: linear-gradient(rgba(40, 40, 40, 1), rgba(80, 80, 80, 0.97));
	--progress-grad: linear-gradient(var(--highlight-color), var(--primary-color), var(--highlight-color));
	--icon-font: 'Web Symbols';
	--default-cursor: url(../../images/cursors/Arch-black.svgz), auto;
	--pointer: url('../../images/cursors/3D_hand_cursor.svgz'), pointer;
}
