@media screen and (min-width:1000px) {
	:root {
		font-size: 1.3vw;
	}
}
@media screen and (max-width:999px) and (min-width:500px) {
	:root {
		font-size: 2vw;
	}
}
@media screen and (max-width: 499px) {
	:root {
		font-size: 3vw;
	}
}
::-moz-selection {
	background-color: var(--primary-color);
	text-shadow: none;
}
::selection {
	background-color: var(--primary-color);
	text-shadow: none;
}
:root {
	background-color: var(--primary-color);
	background-image: url(../../images/backgrounds/curls-mono.svgz);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-blend-mode: multiply;
	color: var(--default-color);
	text-shadow: var(--shadow);
	cursor: var(--default-cursor);
}
:root.loading {
	cursor: progress;
}
body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-rendering: optimizeSpeed;
	scroll-behavior: smooth;
}
body > header, body > footer {
	flex: 0 1 100%;
}
body > header {
	background: rgb(60, 60, 60) none;
	background: rgba(60, 60, 60, 0.7) none;
	background: transparent var(--tint-glass);
	border-bottom: 0.2rem solid var(--border-color);
	box-shadow: 0 0 3rem var(--shadow) inset;
	align-self: flex-start;
}
body > header h1 {
	font-family: 'PressStart';
	text-align: center;
	text-shadow: 0.1rem 0.1rem var(--shadow), 0.2rem .02rem 0.3rem gray, 0 0 3rem var(--highlight-color);
	margin-bottom: 1rem;
}
body header > h1 > a {
	color: inherit;
	padding-right: 0.75rem;
	border-width: 0 0.5rem 0 0;
	border-style: solid;
	border-color: transparent;
	animation: cursor 750ms infinite linear alternate;
}
body > header nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
body > header nav a {
	flex: 1 1 auto;
	color: whitesmoke;
	text-shadow: 0.1rem 0.1rem 0.1rem dimgray;
	font-size: 1.1rem;
	font-family: 'Acme';
	font-weight: 600;
	text-align: center;
	overflow: elipsis;
	padding: 0.7rem 0;
	background-image: url('../../images/gradients/header_links.png');
	background-image: linear-gradient(var(--primary-color), var(--highlight-color), var(--primary-color));
	background-size: 1px 100%;
	background-repeat: repeat-x;
	border: 0.2rem outset var(--border-color);
	transition: all 300ms;
}
body > header nav a:hover {
	text-shadow: 0 0 0.1rem black, 0 0 0.5rem var(--highlight-color);
	transform: translateY(-0.3rem);
	box-shadow: 0 0 1rem var(--shadow);

}
body > header nav a:first-of-type {
	border-radius: 1rem 0 0 1rem;
}
body > header nav a:last-of-type {
	border-radius: 0 1rem 1rem 0;
}
body > header nav a:not(:last-of-type) {
	border-right: 0.2rem outset var(--border-color);
}
body > header nav form {
	flex: 0 1 100%;
}
a, [download] {
	font-family: inherit;
	color: var(--link-color);
	text-decoration: none;
}
a::after {
	font-family: var(--icon-font);
}
article a:visited {
	color: var(--primary-color);
}
main a::after {
	content: '  K';
}
a[rel=tag]::after {
	content: '  , ';
}
[rel=next]::after {
	font-size: 1rem;
	font-family: var(--icon-font);
	color: var(--default-color);
	content: ')';
}
[rel=prev]::after {
	font-size: 1rem;
	font-family: var(--icon-font);
	color: var(--default-color);
	content: '(';
}
a[rel=bookmark]::after {
	content: '';
}
main a[target="_blank"]::after {
	content: '  D';
}
[download]::after {
	content: '  A';
}
button, [role=button] {
	min-width: 2rem;
	padding: 0.2rem;
	background-color: var(--primary-color);
	background-image: url('../../images/gradients/header_links.png');
	background-image: linear-gradient(var(--primary-color), var(--highlight-color));
	font-family: inherit;
	color: var(--default-color);
	border: 0.2rem outset var(--primary-color);
}
button:disabled, button:active {
	background-color: var(--highlight-color);
	background-image: linear-gradient(var(--highlight-color), var(--primary-color));
	border: 0.2rem inset var(--primary-color);
	box-shadow: 0 0 0.3rem var(--shadow) inset;
	cursor: not-allowed;
}
select, input:not([type=checkbox]):not([type=submit]):not([type=reset]):not([type=file]) {
	background-color: transparent;
	color: inherit;
	border-color: transparent transparent var(--border-color) transparent;
	border-width: 0 0 1px 0;
	border-style: solid;
}
input:focus {
	box-shadow: 0 0 0.5rem cyan;
}
input:focus:valid {
	background-image: url(../../images/icons/check.svgz);
	background-position: right top;
	background-repeat: no-repeat;
	box-shadow: 0 0 0.5rem green;
}
input:focus:invalid {
	background-image: url(../../images/icons/x.svgz);
	background-position: right top;
	background-repeat: no-repeat;
	box-shadow: 0 0 0.5rem red;
}
label[data-icon]:empty {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 2rem;
	font-size: 0.7em;
	text-align: center;
	color: dimgray;
	border-color: transparent transparent var(--border-color) transparent;
	border-width: 0 0 1px 0;
	border-style: solid;
}
label[data-icon]:empty + input {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	padding-left: 1rem;
	margin-left: -0.4em;
}
label > img, label > svg {
	height: 1em;
	width: auto;
}
label > svg, label > svg * {
	fill: currentColor;
}
input[type=checkbox] {
	display: none;
}
label+input[type=checkbox] {
	display: initial;
}
input[type=checkbox]+label::after {
	font-family: var(--icon-font);
	content: '  \\';
	color: red;
}
input[type=checkbox]:checked+label::after {
	content: '  .';
	color: green;
}
input[type=search] {
	width: 7rem;
	max-width: 80%;
	transition: width 500ms;
}
input[type=search]:focus {
	width: 20rem;
}
menu[type=list] li {
	display: inline;
}
img {
	max-width: 100%;
	height: auto;
}
figure {
	border: 0.1em solid dimgray;
	text-align: center;
}
figure figcaption {
	color: dimgray;
	text-decoration: underline;
	font-style: italic;
}
blockquote {
	color: #444;
	font-family: 'Libertine';
}
blockquote::before, blockquote::after {

	display: inline;
	font-size: 2rem;
	font-family: 'Acme';
	color: gray;
}
blockquote::before {
	float: left;
	margin-left: -2rem;
	margin-top: -1rem;
	content: '“';
}
blockquote::after {
	float: right;
	margin-right: -1rem;
	margin-top: -4.5rem;
	content: '”';
}
blockquote cite{
	display: block;
}
blockquote cite::before {
	content: ' — ';

}
a, button:not(:disabled), [role=button], input[type=submit], input[type=reset], input[type=image], details > summary , [data-show], [data-show-modal], [data-close], [data-delete] {
	cursor: var(--pointer);
}
.no-details details[open] > summary::before {
	font-family: var(--icon-font);
	content: '['
}
.no-details details:not([open]) > summary::before {
	font-family: var(--icon-font);
	content: ']'
}
.no-details details:not([open]) > :not(summary) {
	display: none;
}
details > summary:only-child, details > summary:only-child::before, details > summary:only-child::after {
	display: none;
}
progress {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
}
progress:not([value])::-moz-progress-bar {
	width: auto;
}
progress:not([value])::-webkit-progress-value {
	width: auto;
}
progress[value]::-webkit-progress-value {
	background-image: var(--progress-grad);;
}
progress[value]::-moz-progress-bar {
	background-image: var(--progress-grad);
}
[data-close]::after, [data-delete]::after {
	font-family: var(--icon-font);
	content: '\'';
}
code {
	font-size: 0.9rem;
	padding: 0.1rem;
	background-color: hsl(0, 0%, 93%);
	border-radius: 0.2rem;
	display: inline-block;
	white-space: pre;
}
pre > code {
	display: block;
	padding: 1rem;
	background-color: rgb(51, 51, 51);
	color: rgb(255, 249, 217);
	border-radius: 0.3rem;
}
.no-js dialog {
	display: none;
}
dialog {
	border: 0.4rem outset var(--primary-color);
	border-radius: 1rem;
	box-shadow: 1rem 1rem 1rem black;
}
.no-dialog dialog {
	z-index: 9;
}
dialog.modal {
	position: fixed;
	top: 10vh;
	max-height: 85vh;
	max-width: 100vw;
	overflow: auto;
}
dialog.modal + .backdrop {
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 8;
}
dialog[open]::backdrop {
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
[contenteditable=true]:empty {
	min-height: 1.3rem;
	border: 1px dotted dimgray;
}
ol > ol {
	list-style-type: upper-alpha;
}
ol > ol > ol {
	list-style-type: upper-roman;
}
ol > ol > ol > ol {
	list-style-type: lower-alpha;
}
ol > ol > ol > ol > ol {
	list-style-type: lower-roman;
}
body > header h1::before {
	content: '';
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 1.2em;
	height: 1.2em;
	background-image: url('/favicon.svgz');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}
main {
	margin: 2rem 0;
	padding: 2rem;
	width: 90%;
	position: relative;
	left: 2.5%;
	background: rgb(110, 110, 110) none;
	background: rgba(110, 110, 110, 0.8) none;
	background: transparent var(--glass-grad);
	border-radius: 2rem;
	transform-origin: top;
	transform-style: preserve-3d;
}
main:after {
	content: '';
	display: block;
	clear: both;
}
main > article, main > form, main > .tags, main > [data-error] {
	color: var(--alt-color);
	background-color: whitesmoke;
	border-radius: inherit;
	padding: inherit;
	border: 0.3rem outset var(--border-color);
	word-wrap: break-word;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 67%;
	float: right;
	clear: right;
}
main aside {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 30%;
	float: left;
}
article header, aside h3 {
	top: 0;
	left: 0;
	padding: 0.4rem;
	background: rgb(60, 60, 60) none;
	background: rgba(60, 60, 60, 0.9) none;
	background: transparent var(--header-bg);
	color: var(--default-color);
	font-family: 'Acme';
	font-size: 1.3rem;
	text-shadow: 0.1rem 0.1rem 0 dimgray, 0.15rem 0.15rem 0 black;
	box-shadow: 0 0 1rem var(--shadow);
}
@media screen and (min-width: 800px) {
	article header, aside h3 {
		position: sticky;
	}
}
article nav a {
	color: inherit;
}
article header h1 {
	font-family: 'PressStart';
	font-size: 1.8rem;
}
article section {
	font-family: 'Comfortaa';
	max-width: 100%;
	font-size: 1.1rem;
	color: var(--alt-color);
}
article header + :first-of-type {
	margin-top: 1rem;
}
article > :not(footer) img {
	border: 0.2rem outset var(--primary-color);
	box-shadow: 0.3rem 0.3rem 0.5rem var(--shadow);
	transition: all 500ms;
}
@supports((display: flex) or (display: -webkit-flex) or (display: -ms-flex)) {
	main {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-content: flex-start;
		flex: 0 1 90%;
		position: static;
	}
	main aside {
		flex: 0 0 30%;
		order: 1;
	}
	main > article, main > form, main > .tags, main > [data-error] {
		flex: 0 0 67%;
		order: 2;
		max-width: 67%;
	}
	@media screen and (max-width: 999px) {
		main {
			flex-direction: column;
			padding: 1rem;
			flex: 0 1 95%;
		}
		main article, main .tags, main > [data-error] {
			flex: 0 1 auto;
			min-width: 100%;
			order: 1;
		}
		main aside {
			flex: 0 1 auto;
			min-width: 100%;
			order: 2;
		}
		iframe {
			height: auto;
		}
	}
}
aside h3 {
	padding: 0.2rem;
	border-bottom: 0.2rem solid var(--primary-color);
	border-radius: 1rem 1rem 0 0;
}
aside li {
	margin-bottom: 0.5rem;
	list-style: square outside;
	font-size: 1.2rem;
}
aside li a {
	color: inherit;
	transition: all 300ms;
}
aside li a:hover {
	color: var(--primary-color);
	padding-left: 1.2rem;
	text-shadow: -0.4rem 0rem 0.2rem var(--highlight-color);
}
aside > :not(h3) {
	color: #333;
	background-color: rgb(233, 233, 233);
	background-image: linear-gradient(whitesmoke , #ddd);
	border: 0.2rem outset var(--border-color);
	border-radius: 1rem 1rem 0 0;
	box-shadow: -1rem 1rem 1rem var(--shadow), 0 0 1rem 0 var(--shadow) inset;
}
body > footer {
	border-top: 0.3rem solid var(--primary-color);
	padding: 1rem;
	background: whitesmoke none;
	background: transparent linear-gradient(whitesmoke, gainsboro);
	box-shadow: 0 -1rem 2rem var(--shadow) inset;
	align-self: flex-end;
}
address {
	font-size: 0.8rem;
	padding: 2rem 2rem 0 2rem;
	-moz-columns: 2 300px;
	-webkit-columns: 2 300px;
	columns: 2 300px;
	-moz-column-gap: 3rem;
	-webkit-column-gap: 3rem;
	column-gap: 3em;
	-moz-column-rule: 0.2em solid var(--primary-color);
	-webkit-column-rule: 0.2em solid var(--primary-color);
	column-rule: 0.2em solid var(--primary-color);
}
address a {
	color: var(--primary-color);
	transition: color 600ms;
}
address a:hover {
	color: var(--link-color);
}
address svg {
	height: 1rem;
	width: auto;
	fill: currentColor;
}
address svg * {
	fill: inherit;
}
address a svg {
	transition: all 600ms;
}
address a:hover > svg {
	transform: translateX(0.5em)scale(1.2)skew(-15deg);
}
form[name="new_post"] {
	width: 95%;
}
form[name="new_post"] textarea {
	width: 35rem;
	height: 8rem;
}
:root.hidden * {
	animation-play-state: paused;
}
:root.offline {
	pointer-events: none;
}
img[src$="CreativeCommons.svgz"], article footer svg {
	width: 6rem;
	height: 2.6rem;
}
.logo svg {
	width: 100%;
	height: 100%;
}
.logo {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 3rem;
	height: 3rem;
	overflow: visible;
	transition: all 1s;
}
.logo svg, .logo img {
	overflow: visible;
}
footer .logo{
	color: #333;
}
.icon svg {
	color: inherit;
	fill: currentColor;
}
.logo:hover {
	transform: scale(2)rotateZ(360deg);
}
body > progress {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
[data-icon]::after  {
	display: inline;
	font-family: var(--icon-font);
	font-size: inherit;
	font-size-adjust: none;
	font-stretch: none;
	content: ' 'attr(data-icon)' ';
	vertical-align: baseline;
}
.copyleft {
	color: var(--alt-color);
	font-size: 3rem;
}
.copyleft::before {
	content: '©';
	display: inline-block;
	*display: inline;
	*zoom: 1;
	transform: rotateY(180deg);
}
details > summary:only-child, details > summary:only-child::before, details > summary:only-child::after {
	display: none;
}
